/* Relaway */
@font-face {
  font-family: "Relaway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

/* Rubik */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  background-color: #ffffff;
  color: #444444;
}

h1,
h2,
h3 {
  font-family: "Relaway", sans-serif;
  font-weight: 800;
  color: #000000;
}

a {
  text-decoration: none;
}

/* Page header */

.page-header {
  font-size: 16px;
  line-height: 19px;
  background: #ffe17f;
  color: #000000;
}

.user-menu-link {
  color: inherit;
}

.menu-link {
  font-size: 18px;
  line-height: 21px;
  color: inherit;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 0.2em;
}

.submenu-column-list {
  line-height: 18px;
  color: inherit;
}

/* Page header catalog */

.link-exit {
  opacity: 0.3;
}

/* Page main */

.slider-title {
  font-size: 50px;
  line-height: 50px;
  color: #000000;
}

.link-detailed {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.slider-parameter-value {
  font-size: 36px;
  line-height: 30px;
}

.slider-parameter-name {
  font-size: 16px;
}

/* Page main catalog */

.breadcrumbs-link {
  color: #000000;
  opacity: 0.6;
}

/* Категория товаров */

.categories-item-name {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
}

/* Сервисы товаров */

.services-content-title {
  font-size: 50px;
  line-height: 50px;
}

/* О компании */

.company-title {
  font-size: 50px;
  line-height: 50px;
}

.contacts-subtitle {
  font-size: 24px;
  line-height: 30px;
  color: #444444;
}

.contacts-phone {
  color: #444444;
  text-decoration: underline;
  font-style: normal;
}

/* Рассылка */

.newsletters-title {
  font-size: 50px;
  line-height: 50px;
}

.newsletters-form-field {
  color: #444444;
  opacity: 0.5;
}

.newsletters-form-buttom {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

/* страница каталог */

.catalog-title {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.content-header-filtr {
  background-color: #dcdcdc;
}

.content-header-sort,
.content-filtr-wrapper {
  background: #ebebeb;
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: #000000;
}

.product-card-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #000000;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.product-card-price {
  line-height: 21px;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.catalog-filter-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #000000;
}

.catalog-filter-label {
  opacity: 0.3;
}

.pagination {
  background-color: #ebebeb;
}

.pagination-text {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: #444444;
  text-align: center;
}

/* FOOTER */

.page-footer {
  background-color: #444444;
  color: #ffffff;
}

.page-footer a,
.page-footer h2 {
  color: #ffffff;
}
