/* ==================================
   Section - Подключение шрифтов
   ================================= */
@font-face {
  font-family: "Releway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* ==================================
     Section - Переменные
     ================================= */
:root {
  --primary-ff: "Rubik", Arial, Helvetica, sans-serif;
  --secondary-ff: "Releway", Arial, Helvetica, sans-serif;

  --b-black: #000000;
  --b-dark: #444444;
  --b-grey: #dcdcdc;
  --b-grey-light: #ebebeb;
  --b-light: #f0f0f0;
  --b-white: #ffffff;

  --yellow: #ffe17f;
  --yellow-hover: #ffc700;
  --purple: #af4fff;
  --error: #ff3d3d;
  --warning: #fd912e;
  --success: #08af00;

  --bfz: 18px;
  --blh: 30px;
}

/* ==================================
     Section - Глобальные стили
     ================================= */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-ff);
  font-size: var(--bfz);
  line-height: var(--blh);
  font-weight: 400;
  color: var(--b-dark);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ==================================
     Section - Переиспользуемые классы
     ================================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indent {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ==================================
     Section - Типографика
     ================================= */

.title-1 {
  font-family: var(--secondary-ff);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--b-black);
}

.title-2 {
  font-family: var(--secondary-ff);
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  color: var(--b-black);
}

.title-3 {
  font-weight: 800;
  font-family: var(--secondary-ff);
  color: var(--b-black);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--primary-ff);
  color: var(--b-black);
}

.text-bold {
  font-family: var(--primary-ff);
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  color: var(--b-black);
}

/* ==================================
       Section - Кнопки
       ================================= */

.button {
  font-family: var(--secondary-ff);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--b-black);
  position: relative;
  padding: 10px 38px;
  background-color: inherit;
  border: none;
  cursor: pointer;
  outline: none;
}

.button::before {
  content: "";
  height: 8px;
  background-color: var(--yellow);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}

.button:focus::before {
  background-color: var(--purple);
}

.button:hover::before {
  height: 100%;
  background-color: var(--yellow);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.button-hover {
  z-index: 1;
}

.button-hover::before {
  background-color: var(--yellow-hover);
}

.button-hover:hover::before {
  background-color: var(--yellow-hover);
}

.button-hover:focus::before {
  background-color: var(--yellow-hover);
}

.services-item-button {
  width: 160px;
  padding-left: 20px;
  padding-right: 19px;
}

.services-item-button::before {
  background-color: var(--yellow-hover);
}

.services-item-button:hover::before {
  background-color: var(--yellow-hover);
}

/* ==================================
     Section - Page Header
     ================================= */

.page-header {
  background: var(--yellow);
  color: var(--b-black);
  margin-top: 40px;
}

.navigation {
  padding: 40px 60px 47px;
  position: relative;
}

.header-logo {
  position: absolute;
  top: -22px;
  left: 60px;
}

.header-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  font-size: 16px;
  line-height: 19px;
  margin-bottom: 30px;
}

.form-search {
  max-width: 516px;
  width: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.form-search-button {
  background-color: transparent;
  cursor: pointer;
  width: 160px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 16px;
  line-height: 19px;
  font-family: var(--primary-ff);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 0px 20px 20px 0px;
  padding: 9px 10px 9px;
  border: 2px solid var(--b-black);
  user-select: none;
  opacity: 0;
  visibility: hidden;
  outline: none;
}

.form-search-button:hover {
  color: var(--b-white);
  background-color: var(--b-black);
}

.form-search-button:focus {
  border-color: var(--purple);
}

.form-search-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--b-black);
}

.form-search-input {
  font-family: var(--primary-ff);
  background-color: transparent;
  font-size: 16px;
  line-height: 19px;
  display: block;
  width: 100%;
  padding: 9px 170px 8px 52px;
  border-radius: 20px;
  color: var(--b-black);
  background-image: url("../images/svg/search.svg");
  background-repeat: no-repeat;
  background-position: left 16px center;
  height: 100%;
  border: 2px solid transparent;
  outline: none;
}

.form-search-input::placeholder {
  color: rgba(0, 0, 0, 0.3);
  opacity: 1;
  transition: all 0.25s ease;
}

.form-search-input:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.form-search-input:focus {
  border-color: var(--purple);
}

.form-search-input:required:valid {
  border-color: var(--b-black);
}

.form-search-input:required:valid + .form-search-button {
  opacity: 1;
  user-select: unset;
  visibility: visible;
}

.user-menu-list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.user-menu-compare {
  margin-left: 178px;
}

.user-menu-exit {
  margin-left: 20px;
  margin-right: 40px;
}

.user-menu-cart {
  margin-left: 43px;
}

.menu-basket-value {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 21px;
  height: 21px;
  background-color: var(--b-white);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.user-menu-link {
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
  border-radius: 20px;
  margin-left: 10px;
}

.user-menu-in {
  margin-left: 0;
}

.user-menu-link:hover {
  opacity: 0.6;
}

.user-menu-link:focus {
  outline: 2px solid var(--purple);
  outline-offset: 16px;
}

.user-menu-link:active {
  opacity: 0.3;
  outline: none;
}

.user-menu-icon {
  margin-right: 11px;
  margin-bottom: 2px;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
}

.menu-link {
  color: inherit;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: var(--secondary-ff);
  position: relative;
  z-index: 3;
  margin-left: 10px;
}

.menu-item:nth-child(1) {
  margin-right: 250px;
  width: 280px;
  position: relative;
}

.menu-item:nth-child(3) {
  margin-left: 20px;
  margin-right: auto;
}

.menu-submenu {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: -60px;
  top: 21px;
  width: 1160px;
  background: var(--yellow);
  min-height: 160px;
  padding: 53px 60px 57px;
  z-index: 2;
  font-family: var(--primary-ff);
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.menu-submenu:hover ~ .menu-link-navigation::before {
  background: url("../images/svg/minus.svg") no-repeat center;
  border-color: var(--b-black);
}

.menu-item-parent:hover .menu-submenu {
  display: flex;
}

.menu-link-navigation {
  margin-left: 0;
}

.menu-link-navigation::before {
  content: "";
  width: 50px;
  height: 50px;
  background: url("../images/svg/plus.svg") no-repeat center;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  padding: 15px;
  position: absolute;
  right: -65px;
  top: -12px;
}

.menu-link-navigation:hover::before {
  background: url("../images/svg/minus.svg") no-repeat center;
  border-color: var(--b-black);
}

.menu-link-services:hover::before {
  display: block;
}

.menu-link-services::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  display: none;
  width: 100%;
  height: 2px;
  background-color: var(--b-black);
}

.menu-link:focus {
  outline: 2px solid var(--purple);
  outline-offset: 17px;
  border-radius: 25px;
}

.menu-link:active {
  opacity: 0.3;
  outline: none;
}

.menu-submenu-item:nth-child(1) {
  max-width: 210px;
  width: 100%;
  margin-right: 29px;
}

.menu-submenu-item:nth-child(2) {
  max-width: 190px;
  width: 100%;
  margin-right: 11px;
}

.submenu-column-list {
  line-height: 18px;
  color: inherit;
}

.submenu-column-list:hover {
  color: rgba(0, 0, 0, 0.6);
}

.submenu-column-list:focus {
  outline: 2px solid var(--purple);
  border-radius: 25px;
  outline-offset: 5px;
}

.submenu-column-list:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.submenu-column-item:not(:last-child) {
  margin-bottom: 18px;
}

/* ==================================
     Section - Page Main
     ================================= */

.main {
  flex-grow: 1;
}

/* ==================================
     Section - Секция слайдер
     ================================= */

.slider {
  margin-top: -47px;
  position: relative;
  overflow: hidden;
}

.slider-parameter-value {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 0;
  color: var(--b-black);
  margin-bottom: 12px;
}

.slider-parameter-name {
  font-size: 16px;
}

.slider-list {
  counter-reset: slide-counter 0;
  display: flex;
  width: 300%;
}

.slider-item {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  background-image: linear-gradient(
    to bottom,
    var(--yellow) 160px,
    var(--b-white) 160px
  );
  position: relative;
  z-index: 1;
  width: 100%;
}

.slider-item::before {
  position: absolute;
  top: 15px;
  right: 50px;
  color: var(--b-white);
  line-height: 1;
  font-weight: 800;
  font-size: 180px;
  content: "0" counter(slide-counter);
  counter-increment: slide-counter;
  z-index: -1;
}

.slider-item-column:nth-child(1) {
  padding-top: 10px;
}

.slider-item-column:nth-child(2) {
  padding-top: 130px;
}

.slider-title {
  margin: 0;
  margin-bottom: 31px;
}

.slider-button {
  display: inline-block;
  margin-bottom: 58px;
}

.slider-parameters {
  display: flex;
}

.slider-parameter-item {
  margin-right: 20px;
}

.slider-description {
  margin-bottom: 43px;
}

.slider-navigation-buttom {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 259px;
  left: 12px;
  z-index: 1;
  cursor: pointer;
}

.slider-navigation-buttom:hover .slider-navigation-image {
  opacity: 0.6;
}

.slider-navigation-buttom:focus {
  outline: 2px solid var(--purple);
  border-radius: 6px;
  outline-offset: 5px;
}

.slider-navigation-buttom:active {
  opacity: 0.3;
  outline: none;
}

.slider-next {
  left: 514px;
}

.slider-dots {
  position: absolute;
  top: 376px;
  right: 62px;
  z-index: 1;
  display: flex;
  width: 79px;
  justify-content: space-between;
}

.slider-dots-button:not(:last-child) {
  margin-right: 20px;
}

.slider-dots-button {
  background: var(--b-white);
  border: 2px solid var(--b-black);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
  display: block;
  outline: none;
}

.slider-dots-button:hover {
  border-color: rgba(0, 0, 0, 0.6);
}

.slider-dots-button:focus {
  border-color: var(--purple);
}

.slider-dots-button:active {
  border-color: rgba(0, 0, 0, 0.3);
}

.slider-button-active {
  background-color: var(--b-black);
}

/* ==================================
     Section - Категория товаров
     ================================= */

.categories {
  padding-top: 70px;
}

.categories-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px;
  margin-bottom: 134px;
}

.categories-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background: var(--yellow);
  margin-bottom: 33px;
}

.categories-link {
  display: block;
  outline: none;
}

.categories-link:hover .categories-item-header {
  background: var(--yellow-hover);
}

.categories-link:focus .categories-item-header {
  outline: 5px solid var(--purple);
}

.categories-link:focus .categories-item-name {
  color: var(--purple);
}

.categories-link:active .categories-image {
  opacity: 0.3;
}

.categories-link:active .categories-item-name {
  color: rgba(0, 0, 0, 0.3);
}

.categories-link:active .categories-item-header {
  background: var(--yellow-hover);
  outline: none;
}

.categories-item-name {
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: none;
}

.categories-item:nth-child(2) .categories-item-name {
  width: 125px;
}

.categories-item:nth-child(2) .categories-item-header {
  align-items: flex-end;
}

/* ==================================
     Section - Сервисы
     ================================= */

.services {
  background: var(--b-light)
    linear-gradient(to bottom, #ffffff 32px, var(--b-light) 32px);
}

.services-tabs {
  display: flex;
  align-items: flex-start;
  position: relative;
  z-index: 1;
  padding-bottom: 95px;
}

.services-list {
  position: relative;
  width: 280px;
  flex-shrink: 0;
  padding-top: 12px;
  /*  */
  display: grid;
  row-gap: 23px;
}

.services-list::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: var(--b-black);
  right: -3px;
  top: -69px;
}

.services-item-active {
  color: var(--yellow);
  background-color: var(--b-black);
  width: 100%;
  text-align: left;
}

.services-content {
  width: 100%;
}

.services-content-item {
  padding-left: 120px;
  padding-right: 260px;
  background-repeat: no-repeat;
  background-position: right 68px top 15px;
}

.services-content-item:nth-child(1) {
  background-image: url("../images/services/delivery.svg");
}
.services-content-item:nth-child(2) {
  background-image: url("../images/services/warranty.svg");
  display: none;
}
.services-content-item:nth-child(3) {
  background-image: url("../images/services/credit.svg");
  display: none;
}

.services-content-title {
  margin-bottom: 34px;
}

/* ==================================
     Section - Доставка
     ================================= */

.delivery {
  margin-top: 134px;
  margin-bottom: 97px;
}

.delivery-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--b-light);
  align-items: center;
}

.delivery-row:hover .delivery-image-block {
  background-color: var(--yellow-hover);
}

.delivery-row:hover .delivery-info {
  background-color: var(--b-grey);
}

.delivery-row:focus {
  outline: 5px solid var(--purple);
}

.delivery-row:active {
  outline: none;
}

.delivery-row:active .delivery-text {
  color: rgba(0, 0, 0, 0.3);
}

.delivery-row:active .delivery-image {
  opacity: 0.3;
}

.delivery-image-block {
  width: 125px;
  height: 100px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-text {
  font-size: 20px;
  line-height: 23px;
}

.delivery-info {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background: rgba(220, 220, 220, 0.5);
  margin-right: 33px;
  margin-left: 48px;
  cursor: pointer;
}

/* ==================================
     Section - О компании
     ================================= */

.company {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;
  padding-bottom: 76px;
}

.company-block {
  position: relative;
}

.company-block::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--b-black);
}

.company-title {
  padding-top: 50px;
  margin-bottom: 45px;
  position: relative;
}

.company-text {
  padding-right: 60px;
}

.company-text + .company-text {
  margin-top: 30px;
}

.about-list {
  margin-bottom: 60px;
  margin-top: 72px;
  display: grid;
  row-gap: 10px;
}

.about-item {
  padding-left: 33px;
  position: relative;
}

.about-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  background-color: var(--yellow-hover);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.company-button {
  display: block;
  width: 260px;
  padding-left: 0;
  padding-right: 0;
}

.contacts-subtitle {
  color: var(--b-dark);
  font-size: 24px;
  line-height: 30px;
  margin-top: 30px;
  margin-bottom: 17px;
}

.contacts-address {
  font-style: normal;
  margin: 0;
}

.contacts-phone {
  color: var(--b-dark);
  text-decoration: underline;
  font-style: normal;
}

.contacts-schedule {
  margin-bottom: 60px;
}

/* ==================================
     Section - Рассылка
     ================================= */

.newsletters {
  background-color: var(--b-light);
  padding-top: 67px;
  padding-bottom: 130px;
}

.newsletters-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.newsletters-row:nth-child(1) {
  margin-bottom: 42px;
}

.newsletters-title,
.newsletters-text {
  max-width: 560px;
  width: 100%;
}

.newsletters-title {
  max-width: 350px;
  margin-top: -10px;
}

.newsletters-form {
  display: flex;
}

.newsletters-form-field {
  padding: 12px 0;
  width: 600px;
  border: none;
  background-color: transparent;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
  outline: transparent;
}

.newsletters-form-field::placeholder {
  font-family: var(--primary-ff);
  font-size: 18px;
  line-height: 30px;
  color: rgba(68, 68, 68, 0.5);
}

.newsletters-form-field:hover {
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.newsletters-form-field:hover::placeholder {
  color: rgba(68, 68, 68, 0.7);
}

.newsletters-form-field:focus {
  background-color: var(--b-grey);
}

.newsletters-form-field:not(:placeholder-shown) {
  background-color: transparent;
  border-color: var(--b-dark);
}

.newsletters-form-field:disabled {
  opacity: 0.1;
}

.error {
  border-color: var(--error);
}

.newsletters-form-buttom {
  padding: 14px 38px;
  border: 3px solid rgba(0, 0, 0, 0.1);
  outline: none;
}

.newsletters-form-buttom:focus {
  border: 3px solid var(--purple);
}

.newsletters-form-buttom:hover {
  border: none;
  background-color: var(--b-black);
  color: var(--b-white);
  border: 3px solid rgba(0, 0, 0, 1);
}

.newsletters-form-buttom:active {
  background-color: var(--b-black);
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid var(--b-black);
}

.newsletters-info-text {
  padding-left: 22px;
  margin-top: 5px;
  position: relative;
}

.newsletters-info-text::after {
  content: "";
  position: absolute;
  top: 6px;
  left: -15px;
  width: 14px;
  height: 14px;
  background-image: url(../images/svg/tick-big.svg);
}

/* ==================================
     Section - Каталог Page Header
     ================================= */

.link-exit {
  color: rgba(125, 125, 125, 0.3);
}

/* ==================================
       Section - Каталог Page Main
       ================================= */
.inner-header {
  padding: 37px 60px 44px;
}

.inner-header-title {
  margin-bottom: 18px;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs-item:not(:last-child) {
  padding-right: 20px;
  margin-right: 17px;
  margin-left: -2px;
  position: relative;
}

.breadcrumbs-item:not(:last-child)::after {
  content: "";
  position: absolute;
  top: 45%;
  right: 0;
  z-index: 1;
  width: 4px;
  height: 7px;
  transform: translate(50%);
  background: url("../images/svg/nav-arrow.svg") no-repeat center/contain;
}

.breadcrumbs-link {
  color: rgba(0, 0, 0, 0.6);
  font-size: 16px;
  line-height: 19px;
}

.breadcrumbs-link:hover {
  color: var(--b-black);
}

.breadcrumbs-link:focus {
  outline: 5px solid var(--purple);
  outline-offset: 5px;
}

.breadcrumbs-link:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}
/* ==================================
     Section - Страница каталог
     ================================= */

.catalog-title {
  font-size: 16px;
  line-height: 19px;
  padding-right: 40px;
}

.content-header-filtr {
  background-color: #dcdcdc;
}

.content-header-sort,
.content-filtr-wrapper {
  background: var(--b-grey-light);
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--b-black);
}

.product-card {
  position: relative;
}

.product-card-new::after {
  position: absolute;
  content: "New";
  top: 27px;
  right: 27px;
  width: 60px;
  height: 60px;
  border: 2px solid rgba(0, 0, 0, 0.6);
  border-radius: 50%;
  display: inline-flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.6);
  letter-spacing: 0.2em;
  font-weight: 800;
  font-size: 14px;
  line-height: 16px;
  font-family: var(--primary-ff);
}

.product-card-link {
  font-size: 18px;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--b-black);
}

.product-card-link span {
  display: block;
  line-height: 28px;
}

.select-control {
  font-family: var(--primary-ff);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
  border: none;
  background-color: inherit;
  width: 196px;
  cursor: pointer;
}

.select-control:hover {
  color: rgba(0, 0, 0, 0.6);
}

.select-control:focus {
  outline: 5px solid var(--purple);
}

.select-control:active {
  outline: none;
  color: rgba(0, 0, 0, 0.3);
}

.product-card-header {
  position: relative;
  display: block;
  margin-bottom: 33px;
}

.product-card-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.25s ease;
}

.product-card-image {
  transition: opacity 0.4s ease;
}
.product-card-header:hover .product-card-image {
  opacity: 0.4;
}

.product-card-header:hover .product-card-overlay {
  opacity: 1;
}

.link-detailed {
  z-index: 3;
  padding: 0 15px;
}
.link-detailed::after {
  z-index: 2;
}

.link-detailed {
  background-color: var(--yellow-hover);
}

.link-detailed::before {
  background-color: var(--yellow-hover);
}

.link-detailed:hover::before {
  background-color: var(--yellow-hover);
}

.product-card-body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
}

.product-card-title {
  margin: 0;
  line-height: 1;
}

.product-card-price {
  line-height: 21px;
  margin: 0;
}

.catalog-filter-group {
  border: none;
  margin: 0;
  padding: 0;
  margin-bottom: 28px;
  position: relative;
}

.catalog-filter-group:nth-child(2) {
  margin-bottom: 28px;
}

.catalog-filter-title {
  padding: 0;
  margin: 0;
  width: 100%;
  font-weight: 800;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--b-black);
  margin-bottom: 27px;
  padding-top: 15px;
}

.catalog-filter-title::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: var(--b-black);
}

.range-scale {
  position: relative;
  height: 2px;
  margin-bottom: 8px;
  margin-top: 10px;
  background-color: var(--b-grey);
}

.range-bar {
  position: absolute;
  left: 0;
  width: 114px;
  height: 1px;
  background-color: var(--b-black);
}

.range-toggle {
  position: absolute;
  width: 18px;
  height: 18px;
  background-color: var(--b-grey-light);
  border: 2px solid var(--b-black);
  border-radius: 50%;
  cursor: pointer;
}

.range-toggle:focus,
.catalog-filter-label:focus {
  border-color: var(--purple);
  color: var(--purple);
}

.range-toggle:active {
  background-color: var(--b-black);
  border-color: var(--b-black);
}

.toggle-min {
  top: -8px;
}

.toggle-max {
  top: -8px;
  right: -15px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: space-between;
  left: -5px;
  position: relative;
  padding-right: 43px;
  font-size: 15px;
  line-height: 18px;
  margin-top: 16px;
}

.catalog-filter-label {
  display: flex;
}

.range-input {
  width: 16px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  color: inherit;
  appearance: textfield;
}

.range-input-right {
  width: 44px;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.control {
  position: relative;
  display: block;
  padding-left: 37px;
  cursor: pointer;
}

.control-mark {
  position: absolute;
  top: 5px;
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid var(--b-black);
}

.control-mark::after {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/svg/vector.svg") no-repeat center/contain;
  display: none;
}

.control-mark-radio {
  border-radius: 50%;
}

.control-mark-radio::after {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: var(--b-black);
}

.control-input:checked + .control-mark-radio::after,
.control-input:checked + .control-mark::after {
  display: block;
}

.catalog-filter-label {
  color: rgba(0, 0, 0, 0.3);
}

.pagination-show-more {
  width: 100%;
  background-color: var(--b-white);
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 15px 0;
  margin-bottom: 52px;
  font-size: 16px;
  line-height: 19px;
  cursor: pointer;
}

.pagination-show-more:focus {
  outline: 5px solid var(--purple);
  border-color: transparent;
}

.pagination {
  background-color: var(--b-grey-light);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.pagination-sublist {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  min-width: 169px;
  max-width: 169px;
  width: 100%;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: var(--b-dark);
  text-align: center;
  color: rgba(0, 0, 0, 0.3);
}

.pagination-next,
.pagination-prev {
  font-family: var(--secondary-ff);
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--b-black);
  padding: 28px 30px;
  display: block;
}

.pagination-item-prev {
  margin-right: 187px;
}
.pagination-item-next {
  margin-left: 128px;
}
/* ==================================
     Section - Page Footer
     ================================= */

.page-footer {
  background-color: var(--b-dark);
  font-size: 20px;
  padding: 62px 0 54px;
  color: var(--b-white);
}

.page-footer-wrapper {
  display: flex;
}

.footer-item:not(:first-child) {
  padding-top: 70px;
}

.footer-item:nth-child(2) {
  margin-right: auto;
  margin-left: 110px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-phone {
  color: var(--b-white);
  border-radius: 25px;
  margin-left: -10px;
  margin-right: -10px;
  padding: 0 10px;
}

.footer-phone:hover {
  color: var(--yellow-hover);
}

.footer-phone:focus {
  outline: 2px solid var(--purple);
}

.footer-phone:active {
  color: rgba(255, 199, 0, 0.3);
  outline: none;
}

.footer-address {
  width: 240px;
  position: relative;
}

.footer-address::before {
  content: "";
  position: absolute;
  bottom: 23px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--yellow-hover);
}

.footer-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-menu {
  display: flex;
  margin-bottom: 57px;
}

.footer-phone {
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 30px;
}

.footer-menu-link {
  font-family: var(--secondary-ff);
  color: var(--color-footer-text);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 14px;
  position: relative;
}

.footer-menu-link::before {
  content: "";
  position: absolute;
  right: 15px;
  bottom: 6px;
  left: 13px;
  height: 2px;
  background-color: var(--yellow-hover);
  display: none;
}

.footer-menu-link:hover {
  color: var(--yellow-hover);
}

.footer-menu-link:hover::before {
  display: block;
}

.footer-menu-link:focus {
  outline: 2px solid var(--purple);
  border-radius: 25px;
}

.footer-menu-link:active {
  outline: none;
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  margin-left: 154px;
}

.footer-social-item {
  margin-right: 15px;
}

.footer-social-item:last-child {
  margin-right: 0;
}

.social-link {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
}

.social-link:hover {
  background-color: var(--yellow-hover);
}

.social-link:hover .social-icon {
  fill: var(--b-dark);
}

.social-link:focus {
  background-color: transparent;
  outline: 5px solid var(--purple);
}

.social-link:focus .social-icon {
  fill: var(--b-white);
}

.social-link:active {
  background-color: var(--yellow-hover);
  outline: none;
}

.social-link:active .social-icon {
  fill: var(--color-dark);
  opacity: 0.3;
}

.social-link:active {
  background-color: var(--yellow-hover);
  box-shadow: none;
}

.social-link:active .social-icon {
  fill: var(--b-dark);
  opacity: 0.3;
}

.footer-author-link {
  text-align: right;
}

.footer-author-link:hover .footer-link-htmlacademy {
  fill: var(--b-white);
}

.footer-author-link:focus .footer-link-htmlacademy {
  outline: 2px solid var(--purple);
  outline-offset: 10px;
  border-radius: 3px;
}

.footer-author-link:active .footer-link-htmlacademy {
  outline: none;
  fill: rgba(125, 125, 125, 0.3);
}

.catalog {
  display: flex;
}

.catalog-filters,
.catalog-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalog-filters-row {
  background: var(--b-grey);
  display: flex;
  justify-content: flex-end;
  padding: 27px 0 25px 50px;
  align-items: center;
}

.catalog-filters-title {
  width: 276px;
  font-size: 16px;
  line-height: 19px;
  padding-left: 9px;
}

.catalog-filter-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 69px 68px 0 0;
  background-color: var(--b-grey-light);
  height: 100%;
}

.catalog-filter-item {
  margin-bottom: 10px;
  padding-left: 2px;
}

.catalog-sort-wrapper {
  background: var(--b-grey-light);
  display: flex;
}

.catalog-sort {
  width: 832px;
  display: flex;
  padding: 19px 0 22px 72px;
  align-items: center;
}

.catalog-sort-title {
  font-size: 16px;
  line-height: 18px;
  margin-right: 47px;
}

.sort-dir {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  align-items: center;
  position: relative;
}

.sort-dir-item + .sort-dir-item {
  margin-left: 17px;
}

.sort-dir-link {
  outline: none;
}

.sort-dir-icon {
  outline: none;
  fill: rgba(0, 0, 0, 0.2);
}

.sort-dir-active .sort-dir-icon {
  fill: var(--b-black);
}

.sort-dir-link:hover .sort-dir-icon {
  fill: rgba(0, 0, 0, 0.5);
}

.sort-dir-link:focus .sort-dir-icon {
  outline: 5px solid var(--purple);
  outline-offset: 5px;
}

.sort-dir-link:active .sort-dir-icon {
  outline: none;
  fill: var(--b-black);
}

.catalog-wrapper {
  width: 832px;
  padding: 69px 0 75px 72px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
  margin-bottom: 43px;
}

.user-menu-item {
  position: relative;
}

.popover {
  opacity: 0;
  visibility: hidden;
  user-select: none;
  position: absolute;
  top: 33px;
  right: -80px;
  z-index: 5;
  width: 320px;
  background: var(--b-black);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  color: var(--b-white);
  min-height: 150px;
  transition: all 0.25s ease;
}

.user-menu-cart:hover .popover {
  visibility: visible;
  opacity: 1;
}

.popover::after {
  content: "";
  position: absolute;
  top: -5px;
  left: 152px;
  background-color: var(--b-black);
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
}

.cart-item {
  display: flex;
  padding: 20px;
  justify-content: space-between;
}

.cart-item + .cart-item {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.cart-item-link {
  display: flex;
  align-items: center;
  color: var(--b-white);
}

.cart-item-link:hover {
  opacity: 0.6;
}

.cart-item-link:focus {
  color: var(--purple);
}
.cart-item-link:focus .cart-item-image {
  outline: 5px solid var(--purple);
}

.cart-item-link:active {
  opacity: 0.3;
}

.cart-item-link:active .cart-item-image {
  outline: none;
}

.cart-item-link:active .cart-item-title {
  color: var(--b-white);
}

.cart-item-button {
  border: none;
  background-color: inherit;
  cursor: pointer;
  display: flex;
  justify-content: flex-end;
  padding: 0;
  padding-top: 6px;
  width: 23px;
  height: 23px;
}

.cart-item-button:hover {
  opacity: 0.6;
}

.cart-item-button:focus {
  outline: 2px solid var(--purple);
  border-radius: 50%;
}

.cart-item-button:active {
  outline: none;
  opacity: 0.3;
}

.cart-item-title {
  margin-left: 23px;
  width: 160px;
  margin-right: auto;
  line-height: 20px;
}

.cart-items-result {
  background-color: #1a1a1a;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.items-result-text {
  padding: 12px 20px;
}

.cart-button-wrapper {
  padding: 20px;
}

.cart-button {
  border: none;
  background-color: var(--b-white);
  width: 100%;
  padding: 15px;
}

.cart-button:hover {
  background-color: var(--yellow);
}

.cart-button:focus {
  outline: 5px solid var(--purple);
}

.cart-button:active {
  color: rgba(0, 0, 0, 0.3);
  outline: none;
}

.hint {
  width: 26px;
  height: 26px;
  background-color: var(--yellow);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
}

/* Модальное окно */

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background: rgba(240, 240, 240, 0.9);
  z-index: 5;
  justify-content: center;
  align-items: center;
}

.overlay-close {
  display: none;
}

.overlay-open {
  display: flex;
}

.modal {
  background-color: var(--b-white);
  outline: 10px solid var(--b-black);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
  max-width: 920px;
  width: 100%;
  padding: 70px 80px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 70px;
}

.modal-close {
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  width: 50px;
  height: 50px;
}

.modal-close:hover {
  opacity: 0.6;
}

.modal-close:focus {
  outline: 5px solid var(--purple);
  border-radius: 50%;
}

.modal-close:active {
  outline: none;
  opacity: 0.3;
}

.modal-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-form-label {
  line-height: 20px;
  font-weight: 800;
  letter-spacing: -0.02em;
  margin-bottom: 18px;
  display: block;
  color: var(--b-black);
}

.modal-form-field {
  width: 100%;
  padding-left: 20px;
  padding-right: 50px;
  height: 60px;
  background-color: var(--b-light);
  border: none;
  font-size: 16px;
  line-height: 20px;
  background-repeat: no-repeat;
  background-position: right 21px center;
}

.modal-form-field::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.modal-form-field:hover {
  background-color: var(--b-grey-light);
}

.modal-form-field:focus {
  outline: 5px solid var(--purple);
}

.modal-form-field:active {
  background-color: var(--b-white);
  outline: 3px solid var(--b-black);
}

.modal-form-field:not(:placeholder-shown) {
  background-color: var(--b-white);
  outline: 3px solid var(--b-black);
}

.modal-form-field-name {
  background-image: url("../images/svg/user-order.svg");
}

.modal-form-field-email {
  background-image: url("../images/svg/mail-order.svg");
}

.modal-message {
  font-size: 14px;
  line-height: 20px;
  color: var(--b-black);
}

.modal-form-error {
  background-color: var(--b-white);
  outline: 3px solid var(--error);
}

.modal-message-error {
  color: var(--error);
}

.modal-form-group {
  width: 360px;
}

.modal-form-order {
  width: 560px;
}

.modal-form-hint {
  display: flex;
  position: relative;
}

.modal-form-quantity {
  width: 160px;
}

.modal-form-counter {
  display: flex;
  position: relative;
}

.modal-form-field-number {
  padding: 0;
  margin: 0;
  text-align: center;
}

.modal-form-field-number::-webkit-outer-spin-button,
.modal-form-field-number::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
}

.counter-button {
  position: absolute;
  top: -0;
  padding: 20px;
  display: block;
  cursor: pointer;
  border: none;
  background: transparent;
  outline: none;
}

.counter-button-icon {
  fill: rgba(0, 0, 0, 0.3);
}

.counter-button:hover .counter-button-icon {
  fill: var(--b-black);
}

.counter-button:focus .counter-button-icon {
  outline: 2px solid var(--purple);
  border-radius: 50%;
  outline-offset: 7px;
}

.counter-button:active .counter-button-icon {
  outline: none;
  fill: rgba(0, 0, 0, 0.1);
}

.modal-form-up {
  right: 0;
}

.modal-form-down {
  left: 0;
}

.button-order-submit {
  margin-top: 40px;
}

.hint:hover ~ .hint-text {
  display: block;
}

.hint-text {
  display: none;
  position: absolute;
  width: 200px;
  background-color: var(--b-black);
  color: var(--b-white);
  padding: 19px;
  font-size: 16px;
  line-height: 20px;
  z-index: 1;
  top: 40px;
  left: -15px;
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.hint-text::after {
  content: "";
  position: absolute;
  top: -4px;
  right: 43px;
  background-color: var(--b-black);
  width: 9px;
  height: 9px;
  transform: rotate(45deg);
}

.popover-info {
  position: absolute;
  width: 200px;
  height: 160px;
  bottom: 48px;
  right: 40px;
  background-color: var(--b-black);
  box-shadow: 0px 10px 0px rgba(0, 0, 0, 0.1);
}

.popover-info::before {
  content: "";
  position: absolute;
  top: -4px;
  left: 125px;
  width: 10px;
  height: 10px;
  background-color: var(--b-black);
  transform: rotate(45deg);
}

.popover-info-text {
  font-size: 16px;
  line-height: 20px;
  color: var(--b-white);
  margin: 19px auto 0 17px;
}
