/* ==================================
   Section - Подключение шрифтов
   ================================= */
@font-face {
  font-family: "Relaway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

/* ==================================
	 Section - Переменные
	 ================================= */
:root {
  --primary-ff: "Rubik", Arial, Helvetica, sans-serif;
  --secondary-ff: "Relaway", Arial, Helvetica, sans-serif;

  --b-black: #000000;
  --b-dark: #444444;
  --b-grey: #dcdcdc;
  --b-grey-light: #ebebeb;
  --b-light: #f0f0f0;
  --b-white: #ffffff;

  --yellow: #ffe17f;
  --yellow-hover: #ffc700;
  --purple: #af4fff;
  --error: #ff3d3d;
  --warning: #fd912e;
  --succes: #08af00;

  --bfz: 18px;
  --blh: 30px;
}

/* ==================================
	 Section - Глобальные стили
	 ================================= */

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--primary-ff);
  font-size: var(--bfz);
  line-height: var(--blh);
  color: var(--color-text);
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

/* ==================================
	 Section - Переиспользуемые классы
	 ================================= */

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.reset-ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.reset-indent {
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1160px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

/* ==================================
	 Section - Типографика
	 ================================= */

.title-1 {
  font-family: var(--secondary-ff);
  font-weight: 800;
  font-size: 50px;
  line-height: 50px;
  color: var(--b-black);
}

.title-2 {
  font-family: var(--secondary-ff);
  font-weight: 800;
  font-size: 40px;
  line-height: 40px;
  color: var(--b-black);
}

.title-3 {
  font-weight: 800;
  font-family: var(--secondary-ff);
  color: var(--b-black);
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.title-4 {
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  font-family: var(--primar-ff);
  color: var(--b-black);
}

.text-bold {
  font-family: var(--primar-ff);
  font-weight: 800;
  font-size: 18px;
  line-height: 30px;
  color: var(--b-black);
}

/* ==================================
	   Section - Кнопки
	   ================================= */

.button {
  font-family: var(--secondary-ff);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--b-black);
  position: relative;
  padding: 10px 40px;
  background-color: inherit;
  border: none;
  cursor: pointer;
}

.button::before {
  content: "";
  height: 8px;
  background-color: var(--yellow);
  position: absolute;
  top: 50%;
  left: 0;
  z-index: -1;
  width: 100%;
  transform: translateY(-50%);
  transition: all 0.3s ease 0s;
}

.button:focus::before {
  background-color: var(--purple);
}

.button:hover::before {
  top: 20px;
  height: 40px;
  background-color: var(--yellow);
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.services-item {
  margin-bottom: 23px;
}

.services-item-button {
  width: 160px;
  padding-left: 20px;
  padding-right: 19px;
}

.services-item-button::before {
  background-color: var(--yellow-hover);
}

.services-item-button:hover::before {
  background-color: var(--yellow-hover);
}

.services-item-active {
  color: rgba(255, 225, 127, 1);
  background-color: var(--b-black);
  padding-right: 260px;
}

/* ==================================
	 Section - Page Header
	 ================================= */

.page-header {
  background: var(--yellow);
  color: var(--b-black);
  margin-top: 40px;
}

.navigation {
  padding: 50px 60px 0;
  position: relative;
}

.header-logo {
  position: absolute;
  top: -22px;
}

.header-row {
  /*display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 40px;*/
  font-size: 16px;
  line-height: 19px;
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.form-search {
  max-width: 516px;
  width: 100%;
  margin-right: 24px;
  display: flex;
}

.form-search:hover .form-search-input {
  opacity: 1;
}

.form-search:focus {
  border: 2px solid var(--purple);
  border-radius: 20px;
}

.form-search-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.form-search-input {
  background-color: transparent;
  border: none;
  font-size: 16px;
  line-height: 19px;
  opacity: 0.3;
  margin-right: auto;
  margin-left: 20px;
}

.user-menu-list {
  display: flex;
  align-items: center;
}

.user-menu-item:nth-child(2) {
  margin-left: 188px;
  margin-right: 53px;
}

.menu-basket-value {
  content: "";
  position: absolute;
  top: 0;
  left: -15px;
  width: 21px;
  height: 21px;
  background-color: var(--b-white);
  border-radius: 50%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 17px;
}

.user-menu-link {
  color: inherit;
  display: flex;
  align-items: center;
  position: relative;
}

.user-menu-icon {
  margin-right: 12px;
  margin-bottom: 2px;
}

.menu-list {
  display: flex;
}

.menu-link {
  color: inherit;
  font-weight: 800;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  font-family: var(--secondary-ff);
}

.menu-item:nth-child(1) {
  margin-right: 290px;
  width: 250px;
  position: relative;
}

.menu-item:nth-child(3) {
  margin-left: 30px;
  margin-right: auto;
}

.menu-submenu {
  display: none;
  flex-wrap: wrap;
  position: absolute;
  left: -60px;
  top: 20px;
  width: 1160px;
  background: var(--yellow);
  min-height: 160px;
  padding: 53px 60px 39px;
  z-index: 2;
  font-family: var(--primary-ff);
  font-size: 16px;
  line-height: 18px;
  font-weight: normal;
}

.menu-item:nth-child(1):hover .menu-submenu {
  display: flex;
}

.menu-submenu-item:nth-child(1) {
  max-width: 210px;
  width: 100%;
  margin-right: 29px;
}

.menu-submenu-item:nth-child(2) {
  max-width: 190px;
  width: 100%;
  margin-right: 11px;
}

.submenu-column-list {
  line-height: 18px;
  color: inherit;
}

.submenu-column-item:not(:last-child) {
  margin-bottom: 18px;
}

/* ==================================
	 Section - Page Main
	 ================================= */

.main {
  flex-grow: 1;
}

/* ==================================
	 Section - Секция слайдер
	 ================================= */

.slider {
  position: relative;
  overflow: hidden;
}

.slider-parameter-value {
  font-size: 36px;
  line-height: 30px;
  margin-bottom: 0;
  color: var(--b-black);
}

.slider-parameter-name {
  font-size: 16px;
  margin-top: 12px;
}

.slider-list {
  counter-reset: slide-counter 0;
  display: flex;
  width: 300%;
}

.slider-item {
  display: flex;
  justify-content: space-between;
  background-image: linear-gradient(
    to bottom,
    var(--yellow) 160px,
    var(--b-white) 160px
  );
  position: relative;
  z-index: 1;
  flex-basis: 100%;
}

.slider-item::before {
  position: absolute;
  top: 15px;
  right: 50px;
  color: var(--b-white);
  line-height: 1;
  font-weight: 800;
  font-size: 180px;
  content: "0" counter(slide-counter);
  counter-increment: slide-counter;
  z-index: -1;
}

.slider-item-column {
  max-width: 560px;
  width: 100%;
}

.slider-item-column:nth-child(1) {
  padding-top: 10px;
}

.slider-item-column:nth-child(2) {
  padding-top: 82px;
}

.slider-title {
  margin-bottom: 29px;
}

.slider-parameters {
  display: flex;
}

.slider-parameters {
  padding-top: 28px;
}

.slider-parameter-item {
  margin-right: 20px;
}

.slider-description {
  padding-bottom: 45px;
}

.slider-navigation-buttom {
  background-color: inherit;
  border: none;
  position: absolute;
  top: 259px;
  left: 12px;
  z-index: 1;
  cursor: pointer;
}

.slider-next {
  left: 514px;
}

.slider-dots {
  position: absolute;
  top: 375px;
  right: 64px;
  z-index: 1;
  display: flex;
}

.slider-dots-button:not(:last-child) {
  margin-right: 20px;
}

.slider-dots-button {
  background: var(--b-white);
  border: 2px solid var(--b-black);
  width: 12px;
  height: 12px;
  border-radius: 50%;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.slider-button-active {
  background-color: var(--b-black);
}

/* ==================================
	 Section - Категория товаров
	 ================================= */

.categories {
  padding-top: 70px;
}

.categories-list {
  display: flex;
  justify-content: space-between;

  /* display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 40px; */
  padding-bottom: 130px;
}

.categories-item {
  width: 160px;
}

.categories-item-header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background: var(--yellow);
  margin-bottom: 33px;
}

.categories-item-name {
  letter-spacing: -0.02em;
  line-height: 24px;
  text-transform: none;
}

.categories-item:nth-child(2) .categories-item-name {
  width: 125px;
}

.categories-item:nth-child(2) .categories-item-header {
  align-items: flex-end;
}

/* ==================================
	 Section - Сервисы
	 ================================= */

.services {
  background: var(--b-light);
  background-image: linear-gradient(
    to bottom,
    #ffffff 32px,
    var(--b-light) 32px
  );
}

.services-tabs {
  display: flex;
  position: relative;
  z-index: 1;
  padding-bottom: 95px;
}

.services-list {
  position: relative;
  width: 280px;
  flex-shrink: 0;
  padding-top: 12px;
}

.services-list::before {
  content: "";
  position: absolute;
  width: 7px;
  height: 319px;
  background-color: var(--b-black);
  right: -4px;
  top: -69px;
}

.services-content {
  padding-left: 120px;
  padding-top: 4px;
}

.services-content-item {
  display: flex;
}

.services-content-wrapper {
  width: 500px;
}

.services-content-text {
  padding-top: 15px;
  width: 430px;
}

.services-image {
  margin-left: 58px;
  margin-top: 14px;
}

/* ==================================
	 Section - Доставка
	 ================================= */

.delivery {
  margin-top: 90px;
  margin-bottom: 106px;
}

.delivery-row {
  display: flex;
  justify-content: space-between;
  background-color: var(--b-light);
  align-items: center;
}

.delivery-image-block {
  width: 125px;
  height: 100px;
  background-color: var(--yellow);
  display: flex;
  align-items: center;
  justify-content: center;
}

.delivery-text {
  font-size: 20px;
  line-height: 23px;
}

.delivery-info {
  border-radius: 50%;
  border: none;
  width: 40px;
  height: 40px;
  background: rgba(220, 220, 220, 0.5);
  margin-right: 33px;
  margin-left: 48px;
  cursor: pointer;
}

/* ==================================
	 Section - О компании
	 ================================= */

.company {
  display: flex;
  justify-content: space-between;
  padding-bottom: 76px;
}

.company-block {
  max-width: 560px;
  width: 100%;
}

.company-title {
  margin-bottom: 45px;
  position: relative;
}

.company-title::before {
  content: "";
  position: absolute;
  top: -50px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--b-black);
}

.company-text {
  padding-bottom: 13px;
  padding-right: 60px;
}

.about-text {
  padding-right: 60px;
  padding-bottom: 51px;
}

.about-list {
  padding-bottom: 47px;
}

.about-item {
  padding-bottom: 10px;
  padding-left: 35px;
  position: relative;
}

.about-item::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 1px;
  background-color: var(--yellow-hover);
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.company-button {
  display: block;
  width: 260px;
  padding-left: 0;
  padding-right: 0;
}

.contacts-subtitle {
  color: var(--b-dark);
  font-size: 24px;
  line-height: 30px;
  padding-bottom: 14px;
}

.contacts-address {
  font-style: normal;
  padding-bottom: 31px;
}

.contacts-phone {
  color: var(--color-text);
  text-decoration: underline;
  font-style: normal;
}

.contacts-schedule {
  padding-bottom: 57px;
}

/* ==================================
	 Section - Рассылка
	 ================================= */

.newsletters {
  background-color: var(--b-light);
  padding-top: 76px;
  padding-bottom: 125px;
}

.newsletters-row {
  display: flex;
  justify-content: space-between;
}

.newsletters-row:nth-child(1) {
  padding-bottom: 41px;
}

.newsletters-title,
.newsletters-text {
  max-width: 560px;
  width: 100%;
}

.newsletters-title {
  padding-right: 150px;
}

.newsletters-text {
  margin-top: 10px;
}

/* .newsletters-form {
  display: flex;
  width: 100%;
}

.newsletters-form-field {
  border: none;
  background-color: transparent;
  opacity: 0.5;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
  width: 600px;
  padding: 17px 0 8px;
}

.newsletters-info {
  display: flex;
}

.newsletters-info-text {
  margin-left: 9px;
}

.newsletters-form-buttom {
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 10px 50px;
} */

.newsletters-label {
  display: flex;
}

.newsletters-form-field {
  padding: 13px 0 9px;
  width: 600px;
  border: none;
  background-color: transparent;
  opacity: 0.5;
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  font-size: 18px;
  line-height: 30px;
}

.newsletters-form-field:active {
  color: var(--b-dark);
  opacity: 1;
  background-color: transparent;
  border-bottom: 3px solid --b-black;
}

.newsletters-form-field:focus {
  background-color: var(--b-grey);
  border: none;
  opacity: 0.5;
}

.newsletters-form-field:focus-visible {
  border: none;
}

.newsletters-form-field:hover {
  opacity: 0.7;
  border-bottom: 3px solid rgba(0, 0, 0, 0.2);
}

.newsletters-form-buttom {
  padding: 14px 38px;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.newsletters-form-buttom:focus {
  border: 3px solid var(--purple);
}

.newsletters-form-buttom:hover {
  border: none;
  background-color: var(--b-black);
  color: var(--b-white);
  border: 3px solid rgba(0, 0, 0, 1);
}

.newsletters-form-buttom:active {
  background-color: var(--b-black);
  color: rgba(255, 255, 255, 0.3);
  border: 3px solid --b-black;
}

.newsletters-info {
  display: flex;
  align-items: baseline;
}

.newsletters-info-text {
  padding-left: 22px;
  margin-top: 13px;
}

/* ==================================
	 Section - Каталог Page Header
	 ================================= */

.link-exit {
  opacity: 0.3;
}

/* ==================================
     Section - Каталог Page Main
     ================================= */
.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  margin-right: 36px;
}

.breadcrumbs-link {
  color: var(--b-black);
  opacity: 0.6;
}

/* ==================================
	 Section - Страница каталог
	 ================================= */

.catalog-title {
  font-size: 16px;
  line-height: 19px;
}

.content-header-filtr {
  background-color: #dcdcdc;
}

.content-header-sort,
.content-filtr-wrapper {
  background: var(--b-grey-light);
}

.control-label {
  font-size: 16px;
  line-height: 19px;
  color: var(--b-black);
}

.product-card-link {
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: var(--b-black);
}

.select-control {
  font-family: var(--primary-ff);
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.product-card-price {
  line-height: 21px;
}

.catalog-filter-title {
  font-weight: bold;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: var(--b-black);
}

.catalog-filter-label {
  opacity: 0.3;
}

.pagination-show-more {
  width: 100%;
  background-color: var(--b-white);
  border: 3px solid rgba(0, 0, 0, 0.1);
  padding: 18px 0;
  margin: 45px 0 50px 0;
  font-size: 16px;
  line-height: 19px;
}

.pagination {
  background-color: var(--b-grey-light);
  display: flex;
  padding: 27px 30px;
}

.pagination-item {
  opacity: 0.3;
  margin-right: 28px;
}

.pagination-item:nth-child(1) {
  margin: 0 auto 0 0;
  opacity: 1;
}

.pagination-item:nth-last-child(1) {
  margin: 0 0 0 auto;
  opacity: 1;
}

.pagination-text {
  font-family: var(--secondary-ff);
  font-weight: 800;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: var(--b-black);
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  color: var(--b-dark);
  text-align: center;
}

/* ==================================
	 Section - Page Footer
	 ================================= */

.page-footer {
  background-color: var(--b-dark);
  font-size: 20px;
  padding: 62px 0 65px 0;
  color: var(--b-white);
}

.page-footer-wrapper {
  display: flex;
}

/* .page-footer-wrapper:nth-child(1) .footer-item:nth-child(2) {
  padding: 35px 0 66px 0;
} */

.footer-item:not(:first-child) {
  padding-top: 70px;
}

.footer-item:nth-child(2) {
  margin-right: auto;
  margin-left: 110px;
}

.footer-logo {
  margin-bottom: 35px;
}

.footer-item {
  display: flex;
  flex-direction: column;
}

.footer-phone {
  color: var(--b-white);
}

.footer-address {
  width: 240px;
  position: relative;
  padding-bottom: 66px;
}

.footer-text {
  font-style: normal;
  font-size: 16px;
  line-height: 19px;
}

.footer-text::before {
  content: "";
  position: absolute;
  bottom: 15px;
  left: 0;
  width: 80px;
  height: 7px;
  background-color: var(--yellow-hover);
}

.footer-menu {
  display: flex;
  margin-bottom: 57px;
}

.footer-phone {
  margin-bottom: 63px;
  font-size: 16px;
  line-height: 30px;
}

.footer-menu-link {
  font-family: var(--secondary-ff);
  color: var(--color-footer-text);
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  padding: 14px 14px;
}

.footer-menu-link:hover {
  color: var(--yellow-hover);
  border-bottom: 2px solid var(--yellow-hover);
  padding-bottom: 8px;
}

.footer-menu-link:focus {
  border: 2px solid var(--purple);
  border-radius: 25px;
  padding: 14px 20px;
  color: var(--b-white);
}

.footer-menu-link:active {
  opacity: 0.3;
}

.footer-social-list {
  display: flex;
  margin-left: 154px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
  margin-right: 15px;
}

.social-link {
  background: rgba(255, 255, 255, 0.3);
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-link:hover {
  background-color: var(--yellow-hover);
}

.social-link:hover path {
  fill: var(--b-dark);
}

.social-link:focus {
  background-color: transparent;
  box-shadow: 0 0 0 5px var(--purple);
}

.social-link:focus path {
  fill: var(--b-white);
}

.social-link:active {
  background-color: var(--yellow-hover);
  box-shadow: none;
}

.social-link:active path {
  fill: var(--b-dark);
  opacity: 0.3;
}

.footer-authors-link {
  text-align: right;
}

.footer-authors-link:hover {
  box-shadow: none;
}

.footer-authors-link:hover path {
  fill: #ffffff;
}

.footer-authors-link:focus {
  border: 2px solid var(--purple);
  border-radius: 10px;
}

.footer-authors-link:active {
  box-shadow: none;
}

.footer-authors-link:active path {
  fill: #ffffff;
  opacity: 0.3;
}
/* .catalog-header {
  background-image: linear-gradient(
    to right,
    #dcdcdc 0,
    #dcdcdc 28%,
    #ebebeb 28%,
    #ebebeb 100%
  );
}

.catalog-header-container {
  display: flex;
}

.catalog-header-filter {
  background: #dcdcdc;
  width: 270px;
  padding: 25px 35px 25px 0;
}

.catalog-header-sort {
  background: #ebebeb;
  width: 100%;
  padding: 25px 0 25px 72px;
  display: flex;
  justify-content: space-between;
}

.catalog-main {
  background-image: linear-gradient(
    to right,
    #eee 0,
    #eee 28%,
    #fff 28%,
    #fff 100%
  );
}

.catalog-main-container {
  display: flex;
}

.catalog-filter {
  width: 270px;
} */

.catalog {
  display: flex;
  margin-top: 50px;
}

.catalog-filters,
.catalog-result {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.catalog-filters-row {
  background: var(--b-grey);
  padding: 23px 0;
  display: flex;
}

.catalog-filters-title {
  width: 300px;
}

.catalog-filter-wrapper {
  display: flex;
  justify-content: flex-end;
  padding: 70px 60px 0 0;
  background-color: var(--b-grey-light);
  height: 100%;
}

.catalog-sort-wrapper {
  background: var(--b-grey-light);
  display: flex;
}

.catalog-sort {
  width: 832px;
  display: flex;
  justify-content: space-between;
  padding: 23px 0 23px 73px;
}

.sort-dir {
  display: flex;
}

.catalog-wrapper {
  width: 832px;
  padding: 70px 0 77px 70px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 360px);
  column-gap: 40px;
  row-gap: 44px;
}
